button {
    color: white;
    padding: 20px 16px;
    border: none;
    border-radius: 10px;
    outline: none;
}

#btn-facebook {
    background-color: #3b5993;
}
#btn-google {
    background-color: #dd4b3d;
}

#btn-github {
    background-color: brown;
}
.label{
    padding: left 8px;