#div1 {
    width: 100%;
    height: 100px;
    /* background ;line-break: (to right #f869d5, #5650d3); */
    background: linear-gradient(to right, #f869d5, #5650d3);
}

#div2 {
    width: 100%;
    height: 100px;
    background: linear-gradient(45deg, #f869d5, #5650d3);
    margin-top: 45px ;
}

#div3 {
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, #f869d5, #5650d3);
    margin-top: 48px ;
}